In [2]:
import pandas as pd

In [3]:
customers_df = pd.read_csv('/Users/sergeysukhin/Desktop/first_project/e_com/olist_customers_dataset.csv')
orders_df =pd.read_csv('/Users/sergeysukhin/Desktop/first_project/e_com/olist_orders_dataset.csv')
items_df = pd.read_csv('/Users/sergeysukhin/Desktop/first_project/e_com/olist_order_items_dataset.csv')

In [4]:
customers_df.head()
# нет n/a

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [5]:
orders_df
# order_approved_at                 160
# order_delivered_carrier_date     1783
# order_delivered_customer_date    2965

# там где нет даты доставки - туда входят все категории кроме delivered (shipped /canceled итд)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [6]:
orders_df.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [7]:
items_df.head()
# нет n/a

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [8]:
items_df.product_id.nunique()
# у нас 32951 уникальный продуктов

32951

In [9]:
items_df.shape

(112650, 7)

In [10]:
# ЗАДАНИЕ 1

# 1. Сколько у нас пользователей, которые совершили покупку только один раз?

In [11]:
customers_df.customer_id.nunique()

99441

In [12]:
customers_df.customer_unique_id.nunique()
# дальше перепроверим корректно ли взяли столбец customer_unique_id
# customer_id = идентификатору заказа

96096

In [13]:
# проверяем по какому считать - выбираем customer_unique_id тк мы считаем уникальный id пользователя

In [14]:
customers_df.groupby('customer_unique_id', as_index=False)\
            .agg({'customer_id':'count'})\
            .sort_values('customer_id', ascending=False)

                     customer_unique_id  customer_id
52973  8d50f5eadf50201ccdcedfb9e2ac8455           17
23472  3e43e6105506432c953e165fb2acf44c            9
37797  6469f99c1f9dfae7733b25662e7f1782            7
76082  ca77025e7201e3b30c44b472ff346268            7
10354  1b6c7548a2a1f9037c1fd3ddfed95f33            7
...                                 ...          ...
32508  5657dfebff5868c4dc7e8355fea865c4            1
32507  5657596addb4d7b07b32cd330614bdf8            1
32506  5656eb169546146caeab56c3ffc3d268            1
32505  5656a8fabc8629ff96b2bc14f8c09a27            1
96095  ffffd2657e2aad2907e67c3e9daecbeb            1

[96096 rows x 2 columns]

In [15]:
customers_df[customers_df['customer_unique_id']=='8d50f5eadf50201ccdcedfb9e2ac8455']
# берем данные по customer_unique_id и видим что ему соответствует customer_id //такое же количество order_id

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
14186,1bd3585471932167ab72a84955ebefea,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
15321,a8fabc805e9a10a3c93ae5bff642b86b,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
16654,897b7f72042714efaa64ac306ba0cafc,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
36122,b2b13de0770e06de50080fea77c459e6,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
38073,42dbc1ad9d560637c9c4c1533746f86d,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
40141,dfb941d6f7b02f57a44c3b7c3fefb44b,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
48614,65f9db9dd07a4e79b625effa4c868fcb,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
52574,1c62b48fb34ee043310dcb233caabd2e,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
58707,a682769c4bc10fc6ef2101337a6c83c9,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
67996,6289b75219d757a56c0cce8d9e427900,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
72745,3414a9c813e3ca02504b8be8b2deb27f,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
74510,0e4fdc084a6b9329ed55d62dcd653ccf,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
83363,f5188d99e9281e214a4a7d1b139a8229,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
85507,89be66634d68fa73a95499b6352e085d,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
90268,0bf8bf19944a7f8b40ba86fef778ca7c,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
93591,9a1afef458843a022e431f4cb304dfe9,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
96652,31dd055624c66f291578297a551a6cdf,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP

In [16]:
orders_df_unique_customers = \
pd.merge(orders_df,customers_df[['customer_id','customer_unique_id']], on = 'customer_id', how = 'left')
# добавляем customer_unique_id по customer_id в таблицу заказов для расчета
# все считаем по уникальному идентификатору customer_unique_id далее

In [17]:
orders_df_unique_customers.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,7c142cf63193a1473d2e66489a9ae977
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,72632f0f9dd73dfee390c9b22eb56dd6

In [18]:
orders_df_unique_customers.groupby('order_status', as_index=False)\
                            .agg({'order_id':'count'})\
                            .sort_values('order_id', ascending=False)
# изучаем разбивку статусов заказов

  order_status  order_id
3    delivered     96478
6      shipped      1107
1     canceled       625
7  unavailable       609
4     invoiced       314
5   processing       301
2      created         5
0     approved         2

In [19]:
count_customers = orders_df_unique_customers.query('order_status=="delivered" or order_status=="shipped"')\
            .groupby('customer_unique_id', as_index=False)\
            .agg({'order_id':'count'})\
            .rename(columns={'order_id':'delivered_orders_qty'})\
            .sort_values('delivered_orders_qty', ascending=False)
count_customers
# считаем сколько у нас всего пользователей (customer_unique_id) размещали заказы (delivered)+ shipped (так как это то же заказы которые будут доставлены)

                     customer_unique_id  delivered_orders_qty
52023  8d50f5eadf50201ccdcedfb9e2ac8455                    16
23041  3e43e6105506432c953e165fb2acf44c                     9
10174  1b6c7548a2a1f9037c1fd3ddfed95f33                     7
37139  6469f99c1f9dfae7733b25662e7f1782                     7
74743  ca77025e7201e3b30c44b472ff346268                     7
...                                 ...                   ...
31924  5655ee330a79bd1fd1e5fb220c2436dd                     1
31923  5655967ad654dc2d2affca3502631db7                     1
31922  56556a95d541c4ca3745744d9aeebc00                     1
31921  56550de806540216e8a5fd85d5597678                     1
94398  ffffd2657e2aad2907e67c3e9daecbeb                     1

[94399 rows x 2 columns]

In [20]:
# проверим заказы по customer_unique_id 
orders_df_unique_customers_check = orders_df_unique_customers[orders_df_unique_customers['customer_unique_id'] == '8d50f5eadf50201ccdcedfb9e2ac8455']
orders_df_unique_customers_check
# клиент с 15 заказами

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id
2340,c2213109a2cc0e75d55585b7aaac6d97,897b7f72042714efaa64ac306ba0cafc,delivered,2018-08-07 23:32:14,2018-08-07 23:45:21,2018-08-09 13:35:00,2018-08-10 20:26:44,2018-08-13 00:00:00,8d50f5eadf50201ccdcedfb9e2ac8455
3660,23427a6bd9f8fd1b51f1b1e5cc186ab8,a8fabc805e9a10a3c93ae5bff642b86b,delivered,2018-05-21 22:44:31,2018-05-22 01:53:35,2018-05-22 14:18:00,2018-05-23 15:33:09,2018-05-29 00:00:00,8d50f5eadf50201ccdcedfb9e2ac8455
5167,e3071b7624445af6e4f3a1b23718667d,0bf8bf19944a7f8b40ba86fef778ca7c,delivered,2017-09-05 22:14:52,2017-09-05 22:30:56,2017-09-06 15:26:12,2017-09-11 13:27:49,2017-09-22 00:00:00,8d50f5eadf50201ccdcedfb9e2ac8455
11694,d3582fd5ccccd9cb229a63dfb417c86f,a682769c4bc10fc6ef2101337a6c83c9,delivered,2018-08-20 19:14:26,2018-08-20 19:30:05,2018-08-21 15:11:00,2018-08-24 14:08:43,2018-09-04 00:00:00,8d50f5eadf50201ccdcedfb9e2ac8455
16231,5837a2c844decae8a778657425f6d664,31dd055624c66f291578297a551a6cdf,unavailable,2017-07-17 22:11:13,2017-07-17 22:23:46,NaN,NaN,2017-08-17 00:00:00,8d50f5eadf50201ccdcedfb9e2ac8455
19127,bf92c69b7cc70f7fc2c37de43e366173,42dbc1ad9d560637c9c4c1533746f86d,delivered,2017-07-24 22:11:50,2017-07-24 22:25:14,2017-07-26 01:42:03,2017-07-31 16:59:58,2017-08-15 00:00:00,8d50f5eadf50201ccdcedfb9e2ac8455
24886,6bdf325f0966e3056651285c0aed5aad,6289b75219d757a56c0cce8d9e427900,delivered,2018-05-22 23:08:55,2018-05-22 23:36:01,2018-05-23 19:02:00,2018-05-24 11:58:23,2018-05-30 00:00:00,8d50f5eadf50201ccdcedfb9e2ac8455
33703,4f62d593acae92cea3c5662c76122478,dfb941d6f7b02f57a44c3b7c3fefb44b,delivered,2017-07-18 23:10:58,2017-07-18 23:23:26,2017-07-20 19:00:02,2017-07-21 16:19:40,2017-07-31 00:00:00,8d50f5eadf50201ccdcedfb9e2ac8455
39449,b850a16d8faf65a74c51287ef34379ce,1bd3585471932167ab72a84955ebefea,delivered,2017-11-22 20:01:53,2017-11-22 20:12:32,2017-11-24 16:07:56,2017-11-27 18:49:13,2017-12-04 00:00:00,8d50f5eadf50201ccdcedfb9e2ac8455
58811,519203404f6116d406a970763ee75799,1c62b48fb34ee043310dcb233caabd2e,delivered,2017-08-05 08:59:43,2017-08-05 09:10:13,2017-08-07 18:50:00,2017-08-09 15:22:28,2017-08-25 00:00:00,8d50f5eadf50201ccdcedfb9e2ac8455
66732,a1a6eadae352582010f449d8527b55f3,3414a9c813e3ca02504b8be8b2deb27f,delivered,2018-08-18 12:39:19,2018-08-18 12:50:37,2018-08-20 14:43:00,2018-08-24 17:26:42,2018-09-03 00:00:00,8d50f5eadf50201ccdcedfb9e2ac8455
68664,5d848f3d93a493c1c8955e018240e7ca,0e4fdc084a6b9329ed55d62dcd653ccf,shipped,2017-05-15 23:30:03,2017-05-15 23:42:34,2017-05-17 10:42:20,NaN,2017-05-26 00:00:00,8d50f5eadf50201ccdcedfb9e2ac8455
69559,112eb6f37f1b9dabbced368fbbc6c9ef,65f9db9dd07a4e79b625effa4c868fcb,delivered,2018-07-23 21:53:02,2018-07-24 10:31:34,2018-07-25 10:25:00,2018-07-26 18:29:28,2018-08-02 00:00:00,8d50f5eadf50201ccdcedfb9e2ac8455
77205,369634708db140c5d2c4e365882c443a,b2b13de0770e06de50080fea77c459e6,delivered,2017-06-18 22:56:48,2017-06-18 23:10:19,2017-06-19 20:12:26,2017-06-23 12:55:50,2017-07-07 00:00:00,8d50f5eadf50201ccdcedfb9e2ac8455
81909,838f8e96cf584a1d8d22eaf7143c7772,f5188d99e9281e214a4a7d1b139a8229,delivered,2018-07-04 22:35:13,2018-07-05 16:27:55,2018-07-06 10:15:00,2018-07-10 21:27:30,2018-07-17 00:00:00,8d50f5eadf50201ccdcedfb9e2ac8455
84977,89d9b111d2b990deb5f5f9769f92800b,9a1afef458843a022e431f4cb304dfe9,delivered,2017-10-29 16:58:02,2017-10-29 17:10:09,2017-10-30 15:58:52,2017-10-31 15:33:47,2017-11-10 00:00:00,8d50f5eadf50201ccdcedfb9e2ac8455
97240,cd4b336a02aacabd0ef22f6db711f95e,89be66634d68fa73a95499b6352e085d,delivered,2017-10-18 23:25:04,2017-10-19 00:36:08,2017-10-20 17:11:50,2017-10-23 18:33:01,2017-10-30 00:00:00,8d50f5eadf50201ccdcedfb9e2ac8455

In [21]:
# проверим заказы по customer_unique_id на дубляж canceled (были ли они в delivered)
orders_df_unique_customers_check = orders_df_unique_customers[orders_df_unique_customers['order_status'] == 'canceled']
orders_df_unique_customers_check
# 625 заказов отменены

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id
397,1b9ecfe83cdc259250e1a8aca174f0ad,6d6b50b66d79f80827b6d96751528d30,canceled,2018-08-04 14:29:27,2018-08-07 04:10:26,NaN,NaN,2018-08-14 00:00:00,8ea097b1824dbd4d17af71b0afe04301
613,714fb133a6730ab81fa1d3c1b2007291,e3fe72696c4713d64d3c10afe71e75ed,canceled,2018-01-26 21:34:08,2018-01-26 21:58:39,2018-01-29 22:33:25,NaN,2018-02-22 00:00:00,c4ebedb09beb89cc0314c5c0c33f8053
1058,3a129877493c8189c59c60eb71d97c29,0913cdce793684e52bbfac69d87e91fd,canceled,2018-01-25 13:34:24,2018-01-25 13:50:20,2018-01-26 21:42:18,NaN,2018-02-23 00:00:00,11c3d6c93dea6ce86769a4835c171bd9
1130,00b1cb0320190ca0daa2c88b35206009,3532ba38a3fd242259a514ac2b6ae6b6,canceled,2018-08-28 15:26:39,NaN,NaN,NaN,2018-09-12 00:00:00,4fa4365000c7090fcb8cad5713c6d3db
1801,ed3efbd3a87bea76c2812c66a0b32219,191984a8ba4cbb2145acb4fe35b69664,canceled,2018-09-20 13:54:16,NaN,NaN,NaN,2018-10-17 00:00:00,08642cd329066fe11ec63293f714f2f8
...,...,...,...,...,...,...,...,...,...
98791,b159d0ce7cd881052da94fa165617b05,e0c3bc5ce0836b975d6b2a8ce7bb0e3e,canceled,2017-03-11 19:51:36,2017-03-11 19:51:36,NaN,NaN,2017-03-30 00:00:00,78a159045124eb7601951b917a42034f
98909,e49e7ce1471b4693482d40c2bd3ad196,e4e7ab3f449aeb401f0216f86c2104db,canceled,2018-08-07 11:16:28,NaN,NaN,NaN,2018-08-10 00:00:00,13d7bd0b05e18b00f415221b3bb69348
99143,6560fb10610771449cb0463c5ba12199,0d07d0a588caf93cc66b7a8aff86d2fe,canceled,2017-10-01 22:26:25,2017-10-01 22:35:22,NaN,NaN,2017-10-27 00:00:00,0f75924cbbe60142068f4029d744b724
99283,3a3cddda5a7c27851bd96c3313412840,0b0d6095c5555fe083844281f6b093bb,canceled,2018-08-31 16:13:44,NaN,NaN,NaN,2018-10-01 00:00:00,e90598185d2427a35e32ef241a5c04aa
99347,a89abace0dcc01eeb267a9660b5ac126,2f0524a7b1b3845a1a57fcf3910c4333,canceled,2018-09-06 18:45:47,NaN,NaN,NaN,2018-09-27 00:00:00,d05c44a138277ad325d915c6b7ccbcdf

In [22]:
# проверим заказы по customer_unique_id 
orders_df_unique_customers_check = orders_df_unique_customers[orders_df_unique_customers['order_id'] == '1b9ecfe83cdc259250e1a8aca174f0ad']
orders_df_unique_customers_check
# в delivered они не попадают

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id
397,1b9ecfe83cdc259250e1a8aca174f0ad,6d6b50b66d79f80827b6d96751528d30,canceled,2018-08-04 14:29:27,2018-08-07 04:10:26,NaN,NaN,2018-08-14 00:00:00,8ea097b1824dbd4d17af71b0afe04301

In [23]:
count_customers[count_customers['delivered_orders_qty']!=1].count()
# проверяем сколько клиентов сделали больше 1 заказа

customer_unique_id      2861
delivered_orders_qty    2861
dtype: int64

In [24]:
count_customers[count_customers['delivered_orders_qty']==1].count()
# сколько клиентов совершили покупку 1 раз (order_status = delivered)

customer_unique_id      91538
delivered_orders_qty    91538
dtype: int64

In [25]:
# каждый заказ в каждом статусе имеет свой id - нельзя проследить переходы из статуса в статус 
# (но и не нужно вычитать canceled заказы например)

# совершение покупки - это завершенный процесс, где результат -  получением клиентом заказа/продукта (delivered).
# размещение заказа (created, processed), отгрузка и прочие этапы заказа не попадают в этот процесс по-моему мнению, тк по факту клиент не получил заказанный товар/продукт
# значит для расчета количества пользователей берем delivered + добавляем shipped, так как заказы в транзите тоже учитываем (их нельзя отменить, и их следующий статус будет delivered)

# ИТОГО 91538 пользователей с customer_unique_id, совершившие покупку 1 раз
# если считать только по delivered то получим 90557 пользователей разместили по 1 заказу (но мы должны учитывать )

In [26]:
import numpy as np

In [27]:
# ЗАДАНИЕ 2
# 2. Сколько заказов в месяц в среднем не доставляется по разным причинам (вывести детализацию по причинам)? 

# не доставляется = заказы имеют статусы canceled, unavailable
# статус delivered, shipped - заказы, которые были уже получены клиентам или отправлены со склада клиентам
# статус invoiced, processing, creared, approved - статусы успешных заказов, и они будут учитываться недоставленными только позднее

In [28]:
# объединить orders+ items для отслеживания shipping limit + расчета timedelt по заказам
# для задания 2
orders_items_limit = \
pd.merge(orders_df,items_df[['order_id','shipping_limit_date']], on = 'order_id', how = 'left')

In [29]:
orders_items_limit['order_purchase_timestamp'] = pd.to_datetime(orders_items_limit['order_purchase_timestamp'], errors='coerce')
orders_items_limit['order_approved_at'] = pd.to_datetime(orders_items_limit['order_approved_at'], errors='coerce')
orders_items_limit['order_delivered_carrier_date'] = pd.to_datetime(orders_items_limit['order_delivered_carrier_date'], errors='coerce')
orders_items_limit['order_delivered_customer_date'] = pd.to_datetime(orders_items_limit['order_delivered_customer_date'], errors='coerce')
orders_items_limit['order_estimated_delivery_date'] = pd.to_datetime(orders_items_limit['order_estimated_delivery_date'], errors='coerce')
orders_items_limit['shipping_limit_date'] = pd.to_datetime(orders_items_limit['shipping_limit_date'], errors='coerce')
# приводим данные к формату времени

In [30]:
orders_items_limit['delivery_est_month_year'] = orders_items_limit['order_estimated_delivery_date'].dt.to_period('M')

In [31]:
orders_items_limit.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,shipping_limit_date,delivery_est_month_year
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,2017-10-06 11:07:15,2017-10
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,2018-07-30 03:24:27,2018-08
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,2018-08-13 08:55:23,2018-09
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,2017-11-23 19:45:59,2017-12
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,2018-02-19 20:31:37,2018-02

In [32]:
orders_items_limit.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
shipping_limit_date              datetime64[ns]
delivery_est_month_year               period[M]
dtype: object

In [33]:
# считаем дельты времени
orders_items_limit['purch_carrier'] = orders_items_limit['order_purchase_timestamp'] - orders_items_limit['order_delivered_carrier_date']
orders_items_limit['purch_est'] = orders_items_limit['order_purchase_timestamp'] -  orders_items_limit['order_estimated_delivery_date']
orders_items_limit['purch_delivered']= orders_items_limit['order_purchase_timestamp'] -  orders_items_limit['order_delivered_customer_date']
orders_items_limit['purch_appr'] = orders_items_limit['order_purchase_timestamp'] - orders_items_limit['order_approved_at']
orders_items_limit['purch_shipping_deadline'] = orders_items_limit['order_purchase_timestamp'] - orders_items_limit['shipping_limit_date']

In [34]:
orders_items_limit.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,shipping_limit_date,delivery_est_month_year,purch_carrier,purch_est,purch_delivered,purch_appr,purch_shipping_deadline
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,2017-10-06 11:07:15,2017-10,-3 days +15:01:33,-16 days +10:56:33,-9 days +13:31:20,-1 days +23:49:18,-5 days +23:49:18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,2018-07-30 03:24:27,2018-08,-2 days +06:10:37,-20 days +20:41:37,-14 days +05:13:52,-2 days +17:17:10,-6 days +17:17:10
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,2018-08-13 08:55:23,2018-09,-1 days +18:48:49,-27 days +08:38:49,-10 days +14:32:20,-1 days +23:43:26,-6 days +23:43:26
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,2017-11-23 19:45:59,2017-12,-4 days +05:48:07,-27 days +19:28:06,-14 days +18:59:24,-1 days +23:42:07,-6 days +23:42:07
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,2018-02-19 20:31:37,2018-02,-1 days +01:32:05,-13 days +21:18:39,-3 days +03:01:37,-1 days +22:58:10,-6 days +00:47:02

In [35]:
not_delivered_summary=orders_items_limit.query('order_status =="canceled" or order_status =="unavailable"')\
                            .groupby('order_status', as_index=False)\
                            .agg({'order_id':'count'})\
                            .sort_values('order_id', ascending=False)
# изучаем разбивку статусов заказов по canceled и unavailable
not_delivered_summary

  order_status  order_id
0     canceled       706
1  unavailable       610

In [36]:
orders_not_delivered = orders_items_limit[(orders_items_limit['order_status'] == "canceled") | (orders_items_limit['order_status'] == "unavailable")]
orders_not_delivered.head()
# выбираем статусы canceled и unavailable

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,shipping_limit_date,delivery_est_month_year,purch_carrier,purch_est,purch_delivered,purch_appr,purch_shipping_deadline
306,8e24261a7e58791d10cb1bf9da94df5c,64a254d30eed42cd0e6c36dddb88adf0,unavailable,2017-11-16 15:09:28,2017-11-16 15:26:57,NaT,NaT,2017-12-05,NaT,2017-12,NaT,-19 days +15:09:28,NaT,-1 days +23:42:31,NaT
448,1b9ecfe83cdc259250e1a8aca174f0ad,6d6b50b66d79f80827b6d96751528d30,canceled,2018-08-04 14:29:27,2018-08-07 04:10:26,NaT,NaT,2018-08-14,2018-08-14 04:10:26,2018-08,NaT,-10 days +14:29:27,NaT,-3 days +10:19:01,-10 days +10:19:01
671,c272bcd21c287498b4883c7512019702,9582c5bbecc65eb568e2c1d839b5cba1,unavailable,2018-01-31 11:31:37,2018-01-31 14:23:50,NaT,NaT,2018-02-16,NaT,2018-02,NaT,-16 days +11:31:37,NaT,-1 days +21:07:47,NaT
705,714fb133a6730ab81fa1d3c1b2007291,e3fe72696c4713d64d3c10afe71e75ed,canceled,2018-01-26 21:34:08,2018-01-26 21:58:39,2018-01-29 22:33:25,NaT,2018-02-22,2018-02-01 21:58:39,2018-02,-4 days +23:00:43,-27 days +21:34:08,NaT,-1 days +23:35:29,-7 days +23:35:29
791,37553832a3a89c9b2db59701c357ca67,7607cd563696c27ede287e515812d528,unavailable,2017-08-14 17:38:02,2017-08-17 00:15:18,NaT,NaT,2017-09-05,NaT,2017-09,NaT,-22 days +17:38:02,NaT,-3 days +17:22:44,NaT

In [37]:
average_undelivered_orders_by_month = orders_not_delivered\
                    .groupby(['delivery_est_month_year'])\
                    .agg({'order_id':'count'})\
                    .rename(columns={'delivery_est_month_year':'month','order_id':'quantity'})\
                    .sort_values(by='delivery_est_month_year', ascending=True)

In [38]:
average_undelivered_orders_by_month
# тут видно что данные у нас неполные и мы не можем сравнивать like for like год к году
# заказы недоставленные на каждый из данных месяцев+год

                         quantity
delivery_est_month_year
2016-09                         1
2016-10                         3
2016-11                        21
2016-12                        11
2017-02                         4
2017-03                        92
2017-04                        42
2017-05                        49
2017-06                        68
2017-07                        56
2017-08                        77
2017-09                        65
2017-10                        59
2017-11                       112
2017-12                       100
2018-01                        53
2018-02                        72
2018-03                       131
2018-04                        30
2018-05                        43
2018-06                        19
2018-07                        41
2018-08                       105
2018-09                        49
2018-10                        12
2018-11                         1

In [39]:
average_undelivered_orders_by_month.quantity.mean().round()
# среднее количество заказов не доставляется 51 (если считать по статусам canceled/unavailable на основе имеющихся месяцев)

51.0

In [40]:
average_undelivered_orders_by_month_by_status = orders_not_delivered\
                    .groupby(['delivery_est_month_year','order_status'])\
                    .agg({'order_id':'count'})\
                    .rename(columns={'delivery_est_month':'month','order_id':'quantity'})\
                    .sort_values(by='delivery_est_month_year', ascending=True)
# считаем то же самое с разбивкой по статусам заказов

In [41]:
average_undelivered_orders_by_month_by_status

                                      quantity
delivery_est_month_year order_status
2016-09                 canceled             1
2016-10                 canceled             3
2016-11                 canceled            15
                        unavailable          6
2016-12                 canceled             9
                        unavailable          2
2017-02                 canceled             2
                        unavailable          2
2017-03                 canceled            26
                        unavailable         66
2017-04                 unavailable         19
                        canceled            23
2017-05                 canceled            33
                        unavailable         16
2017-06                 canceled            39
                        unavailable         29
2017-07                 canceled            22
                        unavailable         34
2017-08                 canceled            34
                        unavailable         43
2017-09                 canceled            30
                        unavailable         35
2017-10                 unavailable         40
                        canceled            19
2017-11                 canceled            40
                        unavailable         72
2017-12                 canceled            31
                        unavailable         69
2018-01                 canceled             9
                        unavailable         44
2018-02                 canceled            32
                        unavailable         40
2018-03                 unavailable         34
                        canceled            97
2018-04                 unavailable         11
                        canceled            19
2018-05                 canceled            31
                        unavailable         12
2018-06                 canceled            12
                        unavailable          7
2018-07                 canceled            34
                        unavailable          7
2018-08                 canceled            83
                        unavailable         22
2018-09                 canceled            49
2018-10                 canceled            12
2018-11                 canceled             1

In [42]:
# видно что лидер по месяцам - март 2018 и август 2018 с отменами 97 и 83 (считаем от даты планируемой доставки клиенту)
# также видно что в марте, ноябре-декабрь 2017 года были проблемы со стоком - число недоступных продуктов превышает количество отмен, что иллюстрирует 
# проблемы с товарным запасом

In [43]:
# визуализировать данные по датам 2017 к 2018 по месяцам

In [44]:
#  Задание 3
# 3. По каждому товару определить, в какой день недели товар чаще всего покупается. (7 баллов)

In [45]:
items_purchases = \
pd.merge(items_df,orders_df[['order_id','order_purchase_timestamp']], on = 'order_id', how = 'left')
# изучаем таблице продуктов, подтягиваем даты размещения заказов к ней

In [46]:
items_purchases['order_purchase_timestamp'] = pd.to_datetime(items_purchases['order_purchase_timestamp'], errors='coerce')

In [47]:
items_purchases['day_of_week'] = items_purchases['order_purchase_timestamp'].dt.day_name()

In [48]:
items_purchases.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,order_purchase_timestamp,day_of_week
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,2017-09-13 08:59:02,Wednesday
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,2017-04-26 10:53:06,Wednesday
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,2018-01-14 14:33:31,Sunday
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,2018-08-08 10:00:35,Wednesday
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,2017-02-04 13:57:51,Saturday

In [49]:
desired_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

products_by_day=items_purchases.groupby('day_of_week', as_index=False)\
                    .agg({'product_id':'count'})\
                    .rename(columns={'product_id':'orders'})\
                    .sort_values(by='day_of_week', key=lambda x: x.map({day: i for i, day in enumerate(desired_order)}))
products_by_day
# по данным видно, что максимальное количество заказов было размещено в понедельник

  day_of_week  orders
1      Monday   18393
5     Tuesday   18237
6   Wednesday   17600
4    Thursday   16797
0      Friday   16039
2    Saturday   12168
3      Sunday   13416

In [50]:
# так как у нас 32951 уникальный продуктов - считать уникальную разбивку по дням невозможно
# при этом видно что по неполным данным за несколько лет у нас самые лучшие дни для размещения
# заказов - понедельник и вторник

In [51]:
# Задача 4

# Сколько у каждого из пользователей в среднем покупок в неделю (по месяцам)? 
# Не стоит забывать, что внутри месяца может быть не целое количество недель. 
# Например, в ноябре 2021 года 4,28 недели. И внутри метрики это нужно учесть. (8 баллов)

In [53]:
orders_df_unique_customers['order_purchase_timestamp'] = pd.to_datetime(orders_df_unique_customers['order_purchase_timestamp'], errors='coerce')

In [54]:
orders_df_unique_customers.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                        object
order_delivered_carrier_date             object
order_delivered_customer_date            object
order_estimated_delivery_date            object
customer_unique_id                       object
dtype: object

In [55]:
orders_df_unique_customers['month'] = orders_df_unique_customers['order_purchase_timestamp'].dt.to_period('M')
# добавляем столбец с месяцев и годом

In [77]:
agg_clients_orders = orders_df_unique_customers\
                    .groupby(['customer_unique_id', 'month'])\
                    .agg({'order_purchase_timestamp': 'count'})\
                    .rename(columns={'order_purchase_timestamp':'order_qty'})
agg_clients_orders
# группируем по данным по клиентам и месяцам

                                          order_qty
customer_unique_id               month
0000366f3b9a7992bf8c76cfdf3221e2 2018-05          1
0000b849f77a49e4a4ce2b2a4ca5be3f 2018-05          1
0000f46a3911fa3c0805444483337064 2017-03          1
0000f6ccb0745a6a4b88665a16c9f078 2017-10          1
0004aac84e0df4da2b147fca70cf8255 2017-11          1
...                                             ...
fffcf5a5ff07b0908bd4e2dbc735a684 2017-06          1
fffea47cd6d3cc0a88bd621562a9d061 2017-12          1
ffff371b4d645b6ecea244b27531430a 2017-02          1
ffff5962728ec6157033ef9805bacc48 2018-05          1
ffffd2657e2aad2907e67c3e9daecbeb 2017-05          1

[98046 rows x 1 columns]

In [78]:
import datetime as dt

In [81]:
agg_clients_orders['weeks_in_month'] = agg_clients_orders.apply(lambda x: (x['order_qty'] / 7), axis=1)
# считаем количество недель в каждом месяце (нецелое)

In [82]:

agg_clients_orders['avg_purchases_per_week'] = \
agg_clients_orders['order_qty'] / agg_clients_orders['weeks_in_month']
# рассчитываем среднее количество покупок для кажлого пользователя в неделю по месяцам

In [83]:
agg_clients_orders.head()

,,order_qty,weeks_in_month,avg_purchases_per_week
customer_unique_id,month,,,
0000366f3b9a7992bf8c76cfdf3221e2,2018-05,1,0.142857,7.0
0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05,1,0.142857,7.0
0000f46a3911fa3c0805444483337064,2017-03,1,0.142857,7.0
0000f6ccb0745a6a4b88665a16c9f078,2017-10,1,0.142857,7.0
0004aac84e0df4da2b147fca70cf8255,2017-11,1,0.142857,7.0

In [84]:
agg_clients_orders.avg_purchases_per_week.mean()
# среднее количество покупок/заказов для пользователей в неделю - 7

7.0

In [76]:
# задача 5

In [ ]:
import pandas as pd

# Загрузите данные или подготовьте их (замените этот блок кода вашими данными)
data = {
    'user_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'first_purchase_date': ['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01', '2023-05-01',
                            '2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01', '2023-05-01']
}

df = pd.DataFrame(data)
df['first_purchase_date'] = pd.to_datetime(df['first_purchase_date'])
df['first_month'] = df['first_purchase_date'].dt.to_period('M')

# Рассчитайте месяц, на который приходится 3-й месяц после первой активности
df['third_month'] = df['first_month'] + pd.DateOffset(months=2)

# Группируйте данные по когортам и месяцам
cohort_grouped = df.groupby(['first_month', 'third_month'])

# Рассчитайте количество уникальных пользователей в каждой когорте на 3-й месяц
cohort_counts = cohort_grouped['user_id'].nunique().unstack()

# Рассчитайте retention rate на 3-й месяц
retention_rate = cohort_counts.divide(cohort_counts.iloc[:, 0], axis=0)

# Найдите когорту с самым высоким retention на 3-й месяц
max_retention_cohort = retention_rate[retention_rate.iloc[:, -1] == retention_rate.iloc[:, -1].max()]

print(max_retention_cohort)

In [99]:
orders_df_unique_customers['first_month'] = orders_df_unique_customers['order_purchase_timestamp'].dt.to_period('M')

In [100]:
orders_df_unique_customers['third_month'] = orders_df_unique_customers['first_month'] + pd.DateOffset(months=2)

IncompatibleFrequency: Input has different freq=<DateOffset: months=2> from PeriodArray(freq=M)

In [97]:
orders_df_unique_customers['cohort'] = orders_df_unique_customers['order_purchase_timestamp'].dt.to_period('M')
# создаем когорту на основе месяца первой активности (размещение заказа)
# у нас нет клиентов совершивших повторные заказы

In [98]:
orders_df_unique_customers.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,month,cohort,cohort_3rd
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,2017-10,2017-10,2017-10
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231,2018-07,2018-07,2018-07
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8,2018-08,2018-08,2018-08
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,7c142cf63193a1473d2e66489a9ae977,2017-11,2017-11,2017-11
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,72632f0f9dd73dfee390c9b22eb56dd6,2018-02,2018-02,2018-02

In [96]:
orders_df_unique_customers['third_month'] = orders_df_unique_customers['cohort'].apply(lambda x: x + pd.DateOffset(months=2))

IncompatibleFrequency: Input has different freq=<DateOffset: months=2> from Period(freq=2M)

In [78]:
# задача 6

In [79]:
import pandas as pd
from datetime import timedelta 
import matplotlib.pyplot as plt